@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input, textarea, select {
    @apply appearance-none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  input:focus, textarea:focus, select:focus {
    @apply outline-none;
    box-shadow: none;
  }
}

@layer components {
  .ripple {
    @apply absolute rounded-full bg-white bg-opacity-70;
    transform: scale(0);
    animation: ripple 800ms linear;
  }
  @keyframes ripple {
    to {
      transform: scale(4);
      opacity: 0;
    }
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: #bcbcbc;
    border-radius: 10px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #646464;
    border-radius: 10px;
  }
}